[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = sehnsucht-nach-einer-ehefrau
	email = sehnsucht-nach-einer-ehefrau@gmail.com
[init]
	defaultBranch = master
